#Ignoring the python env files when commiting
/ALNM_BAHEYA_env
/Backend/Backend/__pycache__
/Backend/doctors/migrations/__pycache__
/Backend/doctors/__pycache__
/Backend/admins/migrations/__pycache__
/Backend/admins/__pycache__